node_modules
tests/axios
tests/playwright/placeholder.spec.ts
mochawesome-report
practice_tasks
typings
tests-examples
# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
